.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items {
  display: flex;
}

.nav-items > ul {
  list-style-type: none ;
  display: flex;
  align-items: center;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.resturant-list ,.shimmer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}

.search-btn {
  margin-left: 10px;
}

.menu {
  display: flex;
}

.title {
  width: 100%;
  margin-top: 10px;
}
.cuisines {
  width: 80%;
  margin-top: 4px;
}
.details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .image-card {
  height: 160px;
  width: 100%;
}
.stroke {
  height: 15px;
  background: #777;
}

.wrapper {
  width: 200px;
  padding: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}